h1{
    position: relative;
}

#texto{
    
    margin-right: 50%;
}

img{
    position:absolute;
    width: 40%;
    
    margin-left: 55%;
    margin-top: -40%;
    
}

#artImagen{
    margin-top: 5%;
}

#texto2{
    
    margin-right: 50%;
}